/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Stoke', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Stoke', serif;
}
h1 {
  font-size: 5.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
nav {
  background: #ffcdab;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
nav a {
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  color: #393e46;
}
nav a:hover {
  transition: 0.5s ease;
  color: #b71707;
}
nav .logo {
  align-content: center;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffcdab;
}
.copyright {
  display: flex;
  justify-content: flex-start;
}
.icons {
  display: flex;
  justify-content: flex-end;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  border: 1px solid greenyellow !important;
}
body {
  background-color: #faf6ed;
  margin-left: 6%;
  margin-right: 6%;
}
.container {
  background-color: #bba89b;
}
.about {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #b71707;
  margin-top: 2%;
  margin-bottom: 2%;
}
.ourPix {
  display: flex;
  margin-right: 6%;
  margin-left: 6%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 90%;
}
.indiv {
  margin: 3%;
  width: 22%;
  padding: 3%;
}
.indiv p {
  color: #b71707;
  background-color: #ffcdab;
}
