.cool-btn {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #b71707;
  padding: 20px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  width: 15%;
  font-size: 2rem;
  text-align: center;
}
.cool-button {
  background-color: #393e46;
  text-shadow: 0px 0px 6px #ffffff;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Stoke', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Stoke', serif;
}
h1 {
  font-size: 5.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav {
  background: #ffcdab;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5% 0.5% 0.5% 0.5%;
}
nav a {
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  color: #393e46;
}
nav a:hover {
  transition: 0.5s ease;
  color: #B71707;
}
nav .logo {
  align-content: center;
}
header {
  background-image: url(../img/cuttingboard.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.marketing {
  display: flex;
  flex-direction: column;
}
.marketing h1 {
  font-size: 15rem;
  color: #faf6ed;
  margin-left: 15%;
  margin-top: 15%;
}
.mybutton {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #b71707;
  padding: 20px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  width: 15%;
  font-size: 2rem;
  text-align: center;
}
.mybutton:hover {
  background-color: #393e46;
  text-shadow: 0px 0px 6px #ffffff;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
