.cool-btn {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #b71707;
  padding: 20px;
  border-radius: 50px;
  border: none;
  transition: all 0.4s ease 0s;
  width: 40%;
  font-size: 2rem;
  text-align: center;
}
.cool-button {
  background-color: #393e46;
  text-shadow: 0px 0px 6px #fff;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.5s ease 0s;
}
.bottombtn {
  -moz-box-shadow: inset -2px 3px 2px 1px #f5978e;
  -webkit-box-shadow: inset -2px 3px 2px 1px #f5978e;
  box-shadow: inset -2px 3px 2px 1px #f5978e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
  background: -moz-linear-gradient(top, #B71707 5%, #992217 100%);
  background: -webkit-linear-gradient(top, #B71707 5%, #c62d1f 100%);
  background: -o-linear-gradient(top, #B71707 5%, #881f15 100%);
  background: -ms-linear-gradient(top, #B71707 5%, #c62d1f 100%);
  background: linear-gradient(to bottom, #B71707 5%, #c62d1f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f', GradientType=0);
  background-color: #B71707;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  padding: 11px 24px;
  text-decoration: none;
  text-shadow: -2px 2px 2px #810e05;
}
.bottombtn-cool {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
  background: -moz-linear-gradient(top, #c62d1f 5%, #B71707 100%);
  background: -webkit-linear-gradient(top, #c62d1f 5%, #B71707 100%);
  background: -o-linear-gradient(top, #c62d1f 5%, #B71707 100%);
  background: -ms-linear-gradient(top, #c62d1f 5%, #B71707 100%);
  background: linear-gradient(to bottom, #c62d1f 5%, #B71707 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537', GradientType=0);
  background-color: #B71707;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  /* <<<<<<< Ike-Otu
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  html, body {
    font-family: 'Stoke', serif;
  }
  h1, h2, h3, h4, h5 {
    font-family: 'Stoke', serif;
  }
  h1 {
    font-size: 5.2rem;
  }
  h3 {
    font-size: 2.8rem;
  }
  p {
    font-size: 1.6rem;
    line-height: 1.4;
  } */
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0 1% 0 1%;
  background: #faf6ed;
  margin-right: 6%;
  margin-left: 6%;
}
html,
body {
  font-family: 'Stoke', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Stoke', serif;
}
h1 {
  font-size: 5.2rem;
  font-family: 'Montserrat', sans-serif;
}
p {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}
nav ul {
  background: #ffcdab;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 500px) {
  nav ul {
    background: none;
  }
  nav ul .padding {
    width: 100%;
    justify-content: space-around;
  }
}
@media (max-width: 500px) {
  nav li {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 5% 0 5%;
    justify-content: center;
    align-items: center;
  }
}
nav a {
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  color: #393e46;
}
nav a:hover {
  transition: 0.5s ease;
  color: #b71707;
}
nav .logo {
  align-content: center;
}
@media (max-width: 500px) {
  nav .logo {
    position: relative;
    left: 39%;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffcdab;
}
.copyright {
  display: flex;
  justify-content: flex-start;
}
.icons {
  display: flex;
  justify-content: flex-end;
}
.maincontent {
  background: #faf6ed;
  margin-left: 6%;
  margin-right: 6%;
}
header {
  background-image: url(../img/cuttingboard1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}
@media (max-width: 800px) {
  header {
    background-image: url(../img/cuttingboard2.png) !important;
    background-attachment: fixed;
  }
}
@media (max-width: 500px) {
  header {
    background-image: url(../img/cuttingboard2.png) !important;
    background-attachment: fixed;
  }
}
.marketing {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.marketing .callToAction {
  display: flex;
  flex-direction: column;
}
.marketing .callToAction h1 {
  font-size: 15rem;
  color: #faf6ed;
  position: relative;
  left: 20%;
  bottom: 22%;
  margin-right: 12%;
}
@media (max-width: 800px) {
  .marketing .callToAction h1 {
    position: relative;
    bottom: 95%;
    right: 2%;
    font-size: 10rem;
  }
}
@media (max-width: 500px) {
  .marketing .callToAction h1 {
    position: relative;
    bottom: 110%;
    left: 10%;
    font-size: 7.5rem;
  }
}
.marketing .callToAction .getstarted {
  display: flex;
  justify-content: space-around;
  width: 50%;
  position: relative;
  left: 5%;
}
@media (max-width: 800px) {
  .marketing .callToAction .getstarted {
    width: 100%;
    position: relative;
    bottom: 75%;
    left: -10%;
  }
}
@media (max-width: 500px) {
  .marketing .callToAction .getstarted {
    display: flex;
    align-items: left;
    width: 100%;
    position: relative;
    left: 2%;
    bottom: 90%;
  }
}
.marketing .callToAction .getstarted .mybutton {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #b71707;
  padding: 20px;
  border-radius: 50px;
  border: none;
  transition: all 0.4s ease 0s;
  width: 40%;
  font-size: 2rem;
  text-align: center;
}
@media (max-width: 500px) {
  .marketing .callToAction .getstarted .mybutton {
    font-size: 1.1rem;
  }
}
.marketing .callToAction .getstarted .mybutton:hover {
  background-color: #393e46;
  text-shadow: 0px 0px 6px #fff;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.5s ease 0s;
}
.paradiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #bba89b;
  height: 90vh;
}
@media (max-width: 800px) {
  .paradiv {
    background-image: url(../img/cuttingboard2.png) !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  }
}
@media (max-width: 500px) {
  .paradiv {
    background-image: url(../img/cuttingboard2.png) !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.paradiv .product {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffcdab;
  color: #393e46;
  width: 45%;
  margin: 1% 1% 1% 1%;
  padding: 1%;
  height: 30vh;
  text-align: center;
}
@media (max-width: 800px) {
  .paradiv .product {
    position: relative;
    bottom: 45%;
    height: 20vh;
    width: 65%;
  }
}
@media (max-width: 500px) {
  .paradiv .product {
    height: 25vh;
    width: 85%;
    position: relative;
    bottom: 60%;
    left: 2.5%;
  }
}
.paradiv .product p {
  font-size: 2rem;
}
@media (max-width: 800px) {
  .paradiv .product p {
    font-size: 1.5rem;
    position: relative;
  }
}
@media (max-width: 500px) {
  .paradiv .product p {
    font-size: 1.5rem;
    position: relative;
  }
}
@media (max-width: 800px) {
  .mobile {
    background-image: url(../img/cuttingboard2.png) !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 75vh;
  }
}
@media (max-width: 500px) {
  .mobile {
    background-image: url(../img/cuttingboard2.png) !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 75vh;
  }
}
.recipesbutton {
  display: flex;
  justify-content: center;
  margin: 6% 0 1% 0;
}
.recipesbutton .recipebutton {
  -moz-box-shadow: inset -2px 3px 2px 1px #f5978e;
  -webkit-box-shadow: inset -2px 3px 2px 1px #f5978e;
  box-shadow: inset -2px 3px 2px 1px #f5978e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
  background: -moz-linear-gradient(top, #B71707 5%, #992217 100%);
  background: -webkit-linear-gradient(top, #B71707 5%, #c62d1f 100%);
  background: -o-linear-gradient(top, #B71707 5%, #881f15 100%);
  background: -ms-linear-gradient(top, #B71707 5%, #c62d1f 100%);
  background: linear-gradient(to bottom, #B71707 5%, #c62d1f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f', GradientType=0);
  background-color: #B71707;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  padding: 11px 24px;
  text-decoration: none;
  text-shadow: -2px 2px 2px #810e05;
}
.recipesbutton .recipebutton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
  background: -moz-linear-gradient(top, #c62d1f 5%, #B71707 100%);
  background: -webkit-linear-gradient(top, #c62d1f 5%, #B71707 100%);
  background: -o-linear-gradient(top, #c62d1f 5%, #B71707 100%);
  background: -ms-linear-gradient(top, #c62d1f 5%, #B71707 100%);
  background: linear-gradient(to bottom, #c62d1f 5%, #B71707 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537', GradientType=0);
  background-color: #B71707;
}
@media (max-width: 800px) {
  .recipesbutton {
    position: relative;
    top: 130%;
    right: 2%;
  }
}
@media (max-width: 500px) {
  .recipesbutton {
    position: relative;
    left: 1%;
  }
}
.recipes {
  display: flex;
  width: 80%;
  height: 14vh;
  justify-content: space-between;
  align-content: center;
  margin: 3% 0 0 0;
}
@media (max-width: 800px) {
  .recipes {
    flex-direction: column;
    height: 30vh;
    width: 50%;
    justify-content: space-around;
    position: relative;
    top: 15%;
  }
}
@media (max-width: 500px) {
  .recipes {
    flex-direction: column;
    height: 40vh;
    width: 55%;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
  }
}
.recipes .puddin {
  height: 30vh;
}
@media (max-width: 800px) {
  .recipes .puddin {
    margin-bottom: 10%;
  }
}
@media (max-width: 500px) {
  .recipes .puddin {
    margin-bottom: 10%;
  }
}
.recipes .pancake {
  height: 30vh;
}
@media (max-width: 800px) {
  .recipes .pancake {
    margin-bottom: 10%;
  }
}
@media (max-width: 500px) {
  .recipes .pancake {
    margin-bottom: 10%;
  }
}
.recipes .dessert {
  height: 30vh;
}
@media (max-width: 800px) {
  .recipes .dessert {
    margin-bottom: 10%;
  }
}
@media (max-width: 500px) {
  .recipes .dessert {
    margin-bottom: 10%;
  }
}
.recipes .sammich {
  height: 30vh;
}
@media (max-width: 800px) {
  .recipes .sammich {
    margin-bottom: 10%;
  }
}
@media (max-width: 500px) {
  .recipes .sammich {
    margin-bottom: 10%;
  }
}
.recipes .food1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipes .food1 p {
  background: #b71707;
  width: 100%;
  color: #faf6ed;
  text-align: center;
  font-size: 2rem;
}
@media (max-width: 800px) {
  .recipes .food1 p {
    position: relative;
    bottom: 9.8%;
  }
}
.recipes .food2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipes .food2 p {
  background: #b71707;
  width: 100%;
  color: #faf6ed;
  text-align: center;
  font-size: 2rem;
}
@media (max-width: 800px) {
  .recipes .food2 p {
    position: relative;
    bottom: 9.8%;
  }
}
.recipes .food3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipes .food3 p {
  background: #b71707;
  width: 100%;
  color: #faf6ed;
  text-align: center;
  font-size: 2rem;
}
@media (max-width: 800px) {
  .recipes .food3 p {
    position: relative;
    bottom: 9.8%;
  }
}
.recipes .food4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipes .food4 p {
  background: #b71707;
  width: 100%;
  color: #faf6ed;
  text-align: center;
  font-size: 2rem;
}
@media (max-width: 800px) {
  .recipes .food4 p {
    position: relative;
    bottom: 9.8%;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
body {
  background-color: #faf6ed;
  margin-left: 6%;
  margin-right: 6%;
}
.container {
  background-color: #bba89b;
}
.about {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #b71707;
  margin-top: 2%;
  margin-bottom: 2%;
}
.ourPix {
  display: flex;
  margin-right: 6%;
  margin-left: 6%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 90%;
}
.ourPix .indiv {
  margin: 3%;
  width: 22%;
  padding: 3%;
}
@media (max-width: 500px) {
  .ourPix .indiv {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.ourPix .indiv p {
  color: #b71707;
  background-color: #ffcdab;
}
#ari {
  font-size: 1.4rem;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
