// General Styles
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body{
  margin-left: 3%;
}

html, body {
  font-family: 'Stoke', serif;
 
}

h1, h2, h3, h4, h5 {
  font-family: 'Stoke', serif;
 
}

h1 {
  font-size: 5.2rem;
}


p {
  font-size: 1.6rem;
  line-height: 1.5;
}



