
header{
  background-image: url(../img/cuttingboard.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.marketing{
  display: flex;
  flex-direction: column;

  h1{
    font-size: 15rem;
    color: #faf6ed;
    margin-left: 15%;
    margin-top: 15%;
  }

}

.mybutton{
  .cool-btn
  
}

.mybutton:hover{
  .cool-button
}