.cool-btn {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: @red;
  padding: 20px;
  border-radius: 50px;
  // display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  width: 40%;
  font-size: 2rem;
  text-align: center;
}

.cool-button {
  background-color: @matblack;
  text-shadow: 0px 0px 6px @white;
  -webkit-box-shadow: 0px 5px 40px -10px @black;
  -moz-box-shadow: 0px 5px 40px -10px @black;
  transition: all 0.50s ease 0s;
} 
