nav{
  background:#ffcdab;
  

  ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5% 0.5% 0.5% 0.5%;
  }//This closes ul

  a {
    text-decoration: none;
    font-size: 3rem;
    // position: relative; 
    font-weight: bold;
    color: #393e46;
    
  }//This closes nav anchors

a:hover{
  transition: .50s ease;
  color:#B71707 ;
}

  .logo{
    align-content: center;
    // position: relative;
    // left: 55%;
  }//This closes imglogo

}// This closes Nav tag
